/* polices de caractères*/
@font-face{
    font-family: sansation;
    src: url(./polices/Sansation_Regular.ttf)
}
@font-face{
    font-family: sansationLight;
    src: url(./polices/Sansation_Light.ttf)
}
@font-face{
    font-family: sansationBold;
    src: url(./polices/Sansation\ Bold.ttf)
}

@font-face{
    font-family: seoul;
    src: url(./polices/SeoulNamsanCondensed-Black.ttf)
}


.noScroll{
    height: 100%;
    overflow: hidden;
}


/*STYLES GÉNÉRALES DE LA PAGE*/
html{
    
    scroll-behavior: smooth;

}

body{
    color: #EEEEEE;
    width: 100%;
    font-family: 'sansationLight', sans-serif;
}

/*STYLES DE L'ENTETE*/
.entete{
    width: 100%;
    height: 100vh;
    background-color: #282D40;
}
.entete nav{

    z-index: 100;
    position: fixed;
    padding: 15px 15px 15px 0;
    display: flex;
    min-height: 30px;
    width: 100%;
    background-color: rgba(40, 45, 64, 0.95);
}

.menu_burger{
    display: none;
    position: fixed;
    right: 20px;
    height: 33px;
    width: 33px;
    z-index: 101;
}



._haut,
._milieu,
._bas{
    width: 100%;
    height: 3px;
    background-color: #EEEEEE;
}

.menu_burger.bleu>div{
    background-color: #282D40;
}

._haut{
    position: absolute;
    top: 0;
    

}

._milieu{
    top: 11px;
    position: absolute;
}

._bas{
    top: 22px;
    position: absolute;
}


.entete nav ul{
    display: flex;
}


nav ul a:hover{
    font-family: "sansationBold", "sans-serif";
}
nav ul li{
    text-align: center;
    min-width: 111px;
}
nav ul a {
    padding: 15px 0px;
    text-decoration: none;
    color: white;
}

nav ul .actif{
    font-family: "sansationBold", "sans-serif";
}
.bumper{
    flex-grow: 2;
}

.entete>div{
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 40vh;
}
/*BOUTON POUR ALLER VOIR LES PROJET*/
.btnVoir{
    color: #EEEEEE;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    padding: 10px;
    border: 2px #EEEEEE solid;
    font-size: 30px;

    transition: color 250ms, background-color 250ms;
}

.btnVoir:hover{
    color: #282D40;
    background-color: #EEEEEE;

    transition: color 250ms, background-color 250ms;
}



h1{
    padding: 15px 15px 25px 15px;

}
.entete span{
    font-family: 'sansationBold', sans-serif;
}

/*STYLES DE LA SECTION À PROPOS*/
.propos{
    
    position: relative;
    font-family: "sansationBold", "sans-serif";
    color: #4F4F4F;
    font-size: 40px;
    padding: 2vh 2%;
    width: 96%;
    height: auto;
    background-color: rgb(250, 250, 250);
}
 /*FLÈCHE VERS BAS DE LA SECTION À PROPOS*/
.propos::after,
.propos::before{
    position: absolute;
    content: '';
    width: 150px;
    height: 100px;
    background-color: rgb(250, 250, 250);
    bottom: -25px;
    z-index: 50;
}

.propos::before{
    right: 50%;
    transform: skew(0, 20deg)
}
.propos::after{
    left: 50%;
    transform: skew(0, -20deg)
}
 /*FLÈCHE VERS BAS DE LA SECTION À PROPOS FIN*/

 /*ZONE ATTRIBUTS */
.icones{
    justify-content: space-around;
    padding: 2%;
    width: 96%;
    display: flex;
}

.icones>div{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.icones div p{
    font-family: "seoul", "sans-serif";
}

.icones img{
    width: 45%;
}

/*ICONES INDIVIDUELS FORMES ET PLACEMENTS*/
.icone{
    clip-path: polygon(50% 5%, 90% 25%, 90% 75%, 50% 95%, 10% 75%, 10% 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #EC9024 ;
}

/* SECTION QUI SUIS-JE*/
article{
    position: relative;
    z-index: 51;
    display: flex;
}
.profil{
    clip-path: polygon(50% 5%, 90% 25%, 90% 75%, 50% 95%, 10% 75%, 10% 25%);
    width: 300px;
    justify-content: center;
}

.qui img{
    width: 100%;
}

article h3{
    padding: 10px;
    color: #969696;
}

article div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article>div p{
    font-family: "sansation",  "sans-serif" ;
    font-size: 25px;
    padding: 5px;
}


article a{
    text-decoration: none;
    color : #C76C02;
    font-size: 18px;
}

.qui{
    padding: 1%;
    width: 48%;
}
/*FIN DE LA SECTION QUI SUIS-JE*/

/*SECTION COMPÉTENCES */
.propos aside{
    width: 48%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.competences{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px;
    background-color: #CBCBCB;
}

.language {
    padding: 10px 0;
    width: 15%;
    background-color: #EC9024;
}
.language p{
    font-family: "seoul", "sans-serif";
    font-size: 16px;
    color: #F8F8F8;
}

.mesure{
    background-color: #C76C02;
    width: 0%;
    height: 36px;
    transition-delay: 2s;
    transition: width 400ms ease-out;
}

.mesure.js.appear{
    transition-delay: 200ms;
    width: 80%;
}
.mesure.php.appear{
    transition-delay: 200ms;
    width: 70%;
}
.mesure.css.appear{
    transition-delay: 200ms;
    width: 75%;
}
.mesure.html.appear{
    transition-delay: 200ms;
    width: 82%;
}
.mesure.sql.appear{
    transition-delay: 200ms;
    width: 73%;
}
.mesure.maya.appear{
    transition-delay: 200ms;
    width: 72%;
}
.mesure.photoshop.appear{
    transition-delay: 200ms;
    width: 45%;
}
.mesure.ill.appear{
    transition-delay: 200ms;
    width: 70%;
}
.mesure.premiere.appear{
    transition-delay: 200ms;
    width: 55%;
}
.mesure.unity.appear{
    transition-delay: 200ms;
    width: 75%;
}
/*FIN DE LE SECTION COMPÉTENCES */

/*SECTION DE PRÉSENTATION DES PROJET*/
.projets{
    padding: 5% 2% 5% 2%;
    color: #4F4F4F;
    font-size: 40px;
    font-family: "sansationBold",  "sans-serif" ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBEB;
}
.projets h3{
    align-self: flex-start;
}

/*FILTRE DANS LA SECTION PROJET*/
.filtres{
    width: 80%;
}

.filtre{
    cursor: pointer;
    background-color: transparent;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.filtre.actif{
    color: #EEEEEE;
    background-color: #282D40;
}

.filtre:hover{
    color: #EEEEEE;
    background-color: #282D40;
}

.projets ul{
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.projets li{
    padding: 10px;
}

/*PLACEMENTS DES PROJES DANS LA SECTION PROJET*/
.mesProjets{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.unProjet{
    position: relative;
    width: 33.33333%;
    z-index: 10;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
}

.unProjet:hover{
    cursor: pointer;
    z-index: 11;
    transform: scale(1.15);
    transition: transform 100ms ease-in-out;
}

.imgContainer{
    width: 100%;
}

.imgContainer img{
    width:100%;
}

/*HOVER SUR LE PROJET */

.unProjet:hover .projetHov{
    opacity: 1;

    transition: opacity 250ms ease-in;
}




.projetHov{
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(40, 45, 64, 0.87);

    transition: opacity 100ms ease-in;
}


.texte{
    user-select: none;
    position: absolute;
    text-align: center;
    top: 40%;
}

.texte p{
    font-size: 45px;
    padding-bottom: 40px;
}

.plus{
    cursor: pointer;
    font-size: 25px;
    font-family: "sansation",  "sans-serif" ;
    padding: 10px;
    border: 1px white solid;
    border-radius: 25px;
    color: #E8E8E8;

    transition: color 200ms ease-in, background-color 200ms ease-in;
}

.plus:hover{
    color: #282D40;
    background-color: white
}

.plus:active{
    margin:1px;
}
/*FIN DE LA SECTION PROJET*/

/*FOOTER*/
footer{
    padding: 3%;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: white;
    background-color: #282D40;
}

footer h3{
    font-size: 40px;
    padding-bottom: 30px; 
    font-family: "sansationBold",  "sans-serif" ;
}
footer div{
    padding-right: 20px;
}

footer div p{
    font-family: "sansationBold", "sans-serif";

}


footer>p{
    padding: 0 20px 20px 20px;
}
/*FIN DU FOOTER*/


/*BOITE DE DIALOGUE*/



.projetSelect{
    padding: 2vh 2%;
    font-size: 30px;
    width: 96%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(40, 45, 64, 0.95);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    
    transform: translateX(0);
    transform-origin: left;
    transition: transform 200ms ease-in;
}

.projetSelect.close{
    transform: translateX(-100vw);
    transition: transform 100ms ease-out;
}

.projetSelect>div{
    display: flex;
    flex-wrap: wrap;
}

.left{
    max-height: 70vh;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.left img{
    align-self: center;
    width: 95%;
}

.right{
    padding: 3% 2%;
    width:46%;
    font-family: "sansationBold", "sans-serif";
}

.right .nom{
    padding: 0 0 70px 0;
    font-size: 60px;
}

.nom_mobile{
    font-size: 30px;
    font-family: "sansationBold", "sans-serif";
    display: none;
}
.right .type{
    padding: 0 0 70px 0;
    font-size: 40px;
    

}
.right>p{
    padding: 0 20% 70px 0;
    font-family: "sansation", "sans-serif";
}

.right ul{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.right ul li{
    padding: 4% 0;
    min-width: 50%;
}

.btn_lien{
    position: absolute;
    bottom: 9vh;
    margin-left: 75px;
    text-align: center;
    padding: 15px;
    max-width: 250px;
    border:3px #F3F3F3 solid;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.btn_lien:hover{
    color: #282D40;
    background-color: #F3F3F3;
}



.btn_X{
    position: absolute;
    align-self: flex-end;
    min-width: 50px;
    min-height: 50px;
    /* background-color: chartreuse; */
}

.x_droit,
.x_gauche{
    position: absolute;
    left: 50%;
    width: 5px;
    height: 100%;
    background-color: #F3F3F3;
}


.x_droit{
    transform: rotate(45deg);
}
.x_gauche{
    transform: rotate(-45deg);

}

.selecteurContenue{
    display: none;
}

/*média querry---------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {

.propos{
    font-size: 35px;
}

.icone{
    max-width: 129px;
    max-height: 129px;
}

.icones{
    font-size: 30px;
}
.right{
    width: 36%;
}

.left{
    padding: 6vh 0 0 0;
    width: 60%;
}


.right>p{
    font-size: 20px;
}

.right .type{
    font-size: 45px;
    padding: 25px 0 30px 0;
}

.right .nom{
    padding: 25px 0 30px 0;
    font-size: 50px;
}

.right ul{
    font-size: 20px;
}

.left{
    flex-direction: column;
    justify-content: center;
}

}


 @media only screen and (max-width: 600px) {

    .entete .menu{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(40, 45, 64, 0.97);
        width: 100vw;
        height: 50vh;
        z-index: 100;
        padding: 25vh 0;
        transform-origin: 100% 0;
        font-size: 20px;
        opacity: 0;
        transform: scale(0,0);
        transition:opacity 100ms ease, transform 200ms ease;
    }

    .menu_burger{
        display: block;
    }

    .menu_burger.actif ._milieu{
        display: none;
    }
    .menu_burger.actif ._haut{

        animation-name: animBtnMenuHaut;
        animation-duration: 200ms;
        animation-fill-mode: forwards;
    }
    .menu_burger.actif ._bas{

        animation-name: animBtnMenuBas;
        animation-duration: 200ms;
        animation-fill-mode: forwards;
    } 

    @keyframes animBtnMenuBas {
        0%   {

        }
        20%  {
            top: 50%;
        }
        30%{
            top: 50%;
        }
         100% {
            top: 50%;
            transform: rotate(45deg);
            }  
    }
    @keyframes animBtnMenuHaut {
        0%   {

        }
        20%  {
            top: 50%;
            
        }

         100% {
            top: 50%;
            transform: rotate(-45deg);
            }  
    }


    .menu_burger.fermer ._milieu{
        
        display: block;
        transition-delay: display 15000ms;
    }
    .menu_burger.fermer ._haut{

        animation-name: animBtnMenuHautFermer;
        animation-duration: 100ms;
        animation-fill-mode: forwards;
    }
    .menu_burger.fermer ._bas{

        animation-name: animBtnMenuBasFermer;
        animation-duration: 100ms;
        animation-fill-mode: forwards;
    } 

    @keyframes animBtnMenuBasFermer {
        0%   {
            top: 50%;
            transform: rotate(45deg);
        }

        80%{
            top: 50%;
        }
         100% {

            }  
    }
    @keyframes animBtnMenuHautFermer {
        0%   {
            top: 50%;
            transform: rotate(-45deg);
        }

        50%{
            top: 50%;
        }
         100% {

        }  
    }

    




    .entete .menu.open{


        opacity: 1;
        transform: scale(1,1);
        transition: opacity 200ms ease, transform 200ms ease;
    }

    .entete>div{
        top: 30vh;
        font-size: 25px;
    }

    .btnVoir{
        border: 1px solid #EEEEEE;
        font-size: 15px;
    }



    .propos{
        font-size: 30px;
        height: auto;
    }


    .icones{
        padding-top: 25px; 
        padding-bottom: 25px; 
        font-size: 25px;
        flex-wrap: wrap;
    }
    .icones>div{
        width: 40%;
        
    }
    .icone{
        height: 130px;
        width: 130px;
    }
    .propos>article{
        flex-direction: column-reverse;
    }

    .propos>article>div,
    .propos>article>aside{
        width: 100%;
    }

    .propos>article>aside{
        padding: 25px 0;
    }

    .language{
        width: 25%;
    }

    .language p{
        font-size: 14;
    }

    .qui p{
        padding-bottom: 25px;
    }

    .qui a{
        padding-bottom: 15px;
    }
    .qui img{
        display: none;
    }


    .propos::after,
    .propos::before{
        display: none;
    }


    .projets{
        font-size: 30px;
    }

    .filtres{
        display: none;
    }

    .mesProjets{
        flex-direction: column;
        padding: 25px 0;
    }

    .unProjet{
        margin: 40px 0;
        width: 100%;
    }

    .texte p{
        font-size: 35px;
    }

    .texte a{
        display: none;
    }
    footer  {
        flex-direction: column;
    }

    footer h3{
        padding-bottom: 5px;
        font-size: 30px;
    }

    .nom{
        display:none;
    }

    .nom_mobile{
        padding: 15px;
        display: block;
    }

    .right{
        width: 100%;
    }

    .right>p {
        display: none;
        padding:  15px 30px;
    }

    .right>p.actif{
        display: block;
    }

    .right ul{
        display: none;
    }

    .right ul.actif{
        display: flex;
        padding-top: 15px;
        margin: auto;
    }

    .right .selecteurContenue{
        display: flex;
        justify-content: center;
        width: 100%;
        /* text-align: center; */
        font-family: 'sansationLight', sans-serif;

    }

    .selecteurContenue .actif{
        background-color: #F3F3F3;
        color: #282D40;
    }

    .right .selecteurContenue p{
        border: 1px solid #F3F3F3;
        padding: 12px 20px;
    }

    .btn_lien{
        bottom: 50px;
        position: absolute;
        border: 1px #F3F3F3 solid;
        font-size: 20px;
        max-width: 182px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .left{
        height: 35vh;
        width: 100%;
    }

    .left img {
        max-height: 35vh;
        width: auto;
    }

    .type{
        display: none;
    }

    .projetSelect{
        width: 94%;
        padding: 2vh 3%;
    }
    .projetSelect .contenue{

        font-size: 16px;
        flex-direction: column;
    }


    .btn_X{
        min-height: 30px;
        min-width: 30px;
    }

    .x_droit{
        width: 3px;
    }
    .x_gauche{
        width: 3px;
    }


    
    footer p{
        padding: 10px 20px 10px 0; 
        font-size: 20px;
    }

    footer>p:nth-of-type(2){
        display: none;
    }
  } 





  /* annimation fade-in */


  .fade-in{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 200ms ease-in, transform 200ms ease-in;
      
  }

  .fade-in.appear{
    transform: translateY(0);
    opacity: 1;
  }