@font-face{
    font-family: sansation;
    src: url(./polices/Sansation_Regular.ttf)
}
@font-face{
    font-family: sansationLight;
    src: url(./polices/Sansation_Light.ttf)
}
@font-face{
    font-family: sansationBold;
    src: url(./polices/Sansation\ Bold.ttf)
}

@font-face{
    font-family: seoul;
    src: url(./polices/SeoulNamsanCondensed-Black.ttf)
}





body{
    color: #EEEEEE;
    width: 100%;
    font-family: 'sansationLight', sans-serif;
}
.entete{
    width: 100%;
    height: 100vh;
    background-color: #282D40;
}
.entete nav{
    padding: 15px;
    display: flex;
}

.entete nav ul{
    display: flex;
}

nav ul a {
    padding: 15px;
    text-decoration: none;
    color: white;
}

.bumper{
    flex-grow: 2;
}

.entete div{
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 40vh;
}

.entete div a{
    padding: 10px;
    border: 2px #EEEEEE solid;
    font-size: 30px;
}

h1{
    padding: 15px 15px 25px 15px;

}
.entete span{
    font-family: 'sansationBold', sans-serif;
}


.propos{
    font-family: "sansationBold", "sans-serif";
    color: #4F4F4F;
    font-size: 40px;
    padding: 2vh 2%;
    width: 96%;
    height: 96vh;
    background-color: #EEEEEE;
}

.icones{
    
    justify-content: space-around;
    padding: 2%;
    width: 96%;
    display: flex;
}

.icones>div{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.icones div p{
    font-family: "seoul", "sans-serif";
    
}

.icones img{
    
    width: 45%;
}

.icone{
    clip-path: polygon(50% 5%, 90% 25%, 90% 75%, 50% 95%, 10% 75%, 10% 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #EC9024 ;
}
article{
    display: flex;
}
.profil{
    clip-path: polygon(50% 5%, 90% 25%, 90% 75%, 50% 95%, 10% 75%, 10% 25%);
    width: 300px;
    justify-content: center;
}

.qui img{
    width: 100%;
}

article h3{
    padding: 10px;
    color: #969696;
}

article div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article>div p{
    font-family: "sansation",  "sans-serif" ;
    font-size: 25px;
    padding: 5px;
}


article a{
    text-decoration: none;
    color : #C76C02;
    font-size: 18px;
}

.qui{
    padding: 1%;
    width: 48%;
}

.propos aside{
    width: 48%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.competences{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px;
    background-color: #CBCBCB;
}

.language {
    padding: 10px 0;
    width: 15%;
    background-color: #EC9024;
}
.language p{
    font-family: "seoul", "sans-serif";
    font-size: 16px;
    color: #F8F8F8;
}

.mesure{
    background-color: #C76C02;
    width: 50%;
    height: 36px;
}

